@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #101820ff;
    color: #f1f5f9;

}

/* FONTS */

.orbitron {
    font-family: var(--font-orbitron);
}

.josefin {
    font-family: var(--font-josefin);

}

.caveat {
    font-family: var(--font-caveat)
}

.cinzel {
    font-family: var(--font-cinzel);
}